@charset "utf-8";


:root{
    --cor-titulo: #0077ff;
    --cor-texto: #222222;
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    
}

body{
    color: var(--cor-texto);
    font-family: Arial, Helvetica, sans-serif;
    
    background-color: #f5f5f5;
    
    height: auto;
}

header{
    display: flex;
    padding-right: 20px;
    height: 5.5vh;
    background-color: var(--cor-titulo);

    justify-content: flex-end;
    align-items: center;

}

#cabecalho{
    margin-left: 30px;
    padding: 3px;
    border-radius: 3px;
}

#cabecalho:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color:#57a2f8a0;
    font-variation-settings:
    'FILL' 0;
    transition: 0.5s;


}


.material-symbols-outlined {
    color: white;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 10;
}

/* Fim da formatação de barra de header*/


main{
    
    padding: 15px;
    display: grid;
    grid-template: repeat(4, 1fr) / 10px 2fr 8fr 10px;
    gap: 10px;
}

#ficha{
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    grid-area: 1 /2 / 2 / 3;
    height: 100vh;
}

.foto{
    outline: 5px solid var(--cor-titulo);
    border: 5px solid white;
    margin: auto;
    background-color: lightgrey;
    height: 180px;
    width: 180px;
    border-radius: 50%;
}

h1{
    font-size: 1.5rem;
    color: var(--cor-titulo);
    weight: bolder;
    margin: 15px 0px;
}

p{
    font-size: .9rem;
    text-align: justify;
    margin-bottom: 0.2rem;
    line-height: 1.2rem;
}

.redes-sociais{
    height: 80px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.icon:hover{
    opacity: 0.5;
    transition: opacity 0.3s;
}

/*Começa aqui a formatação da apresentação pessoal*/

.detalhes{
    border-radius: 5px;
    background-color: #ffffff;

    grid-area: 1 / 3 / 2 / 4;

}

.titulo{
    padding: 5px 0px 10px 15px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    
}

.titulo > i{
    color: var(--cor-titulo);
}