@charset "utf-8";


:root{
    --cor-titulo: #0077ff;
    --cor-texto: #222222;
    --cor-secundária: #66bbff;
    --cor-fundo-pagina: #f0f0f0;
}


main{
    display: grid;
    grid-template: repeat(4, auto) / 10px 2fr 8fr 10px;
}

#ficha{
    position: fixed;
    width: 20%;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    color: var(--cor-texto);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    background-color: var(--cor-fundo-pagina);
    
    height: auto;
}

header{
    
    display: flex;
    padding-right: 20px;
    height: 50px;
    background-color: var(--cor-titulo);
    position: fixed;
    width: 100%;

    justify-content: flex-end;
    align-items: center;

}

#cabecalho{
    margin-left: 30px;
    padding: 3px;
    border-radius: 3px;
}

#cabecalho:hover{
    cursor: pointer;
    transform: scale(1.2);
    background-color:#57a2f8a0;
    font-variation-settings:
    'FILL' 0;
    transition: 0.5s;


}


.material-symbols-outlined {
    color: white;
    padding: 5px;
    font-variation-settings:
    'FILL' 1,
    'wght' 900,
    'GRAD' 0,
    'opsz' 10;
}

/* Fim da formatação de barra de header*/


main{
    padding: 15px;
    display: grid;
    grid-template: repeat(4, auto) / 10px 2fr 8fr 10px;
    gap: 10px;
    
    
}



#ficha{
    margin-top: 40px;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    grid-area: 1 /2 / 2 / 3;
    height: 100vh;
    position: fixed;
    width: 20%;
}


.foto{
    outline: 5px solid var(--cor-titulo);
    border: 5px solid white;
    margin: auto;
    background-color: lightgrey;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}

h1{
    font-size: 1.5rem;
    color: var(--cor-titulo);
    font-weight: bolder;
    margin: 15px 0px;
}

p{
    font-size: .8rem;
    text-align: justify;
    margin-bottom: 0.2rem;
    line-height: 1.2rem;
}

.redes-sociais{
    height: 80px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.icon:hover{
    opacity: 0.5;
    transition: opacity 0.3s;
}

/******************************************/

#home{
    
    margin-top: 40px;
    grid-area: 1 / 3 / 2 / 4;

}

.box{
    padding: 15px;
    border-radius: 5px;
    background-color: white;
}

.titulo{
    padding: 5px 0px 10px 15px;
    color: var(--cor-titulo);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    
    
}

.titulo > i{
    color: var(--cor-titulo);
}

/*******************************************/

#skills{

    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template: 70px auto/ auto auto;
    gap: 10px;
    
}

#linha01{
    grid-area: 1 / 1 / 2 / 3;

    display: flex;
    flex-flow: row nowrap;
    
}

#content{
    align-self: flex-start;
}


#coluna01{
    grid-area: 2 / 1 / 3 / 2;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    

}

#coluna02{
    grid-area: 2 / 2 / 3 / 3;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    
}

.titulo{
    

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    
    
}


.titulo-skills{
    color: var(--cor-texto);
    

    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.titulo-skills > h3{
    width: 80%;
    display: flex;
    flex-flow: nowrap;
}

.titulo-skills > i{
    
    color: var(--cor-texto);   
}

.percentual{
    width: 20%;
    color: var(--cor-titulo);

    display: flex;
    flex-flow: row nowrap;
    align-items: center;    
    justify-content: flex-end;
}

.barra-fundo{

    width: 100%;
    height: 10px;
    background-color: #003e8432;
    border-radius: 5px;
    margin-top: 5px;

    display: flex;
    flex-flow: row wrap;
}

.barra-fundo > .barra-preenchida{
    height: 100%;
    background-color: var(--cor-secundária);
    border-radius: 5px;
}
/*******************************************/

#formacao{

    grid-area: 3 / 3 / 4 / 4;
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
}

.box-item{
    padding: 10px;
    border-radius: 5px;
    border-left: 7px solid var(--cor-secundária);
    background-color: var(--cor-fundo-pagina);
    margin-bottom: 10px;
}

.box-item > h3{
    color: var(--cor-secundária);
    margin: 3px 0px;
}

.box-item:hover{
    box-sizing: border-box;
    border-left: 15px solid var(--cor-titulo);
    transition: 0.5s;
    cursor: pointer;
}

/*******************************************/

#projetos{

    grid-area: 4 / 3 / 5 / 4;
   
}

#box-container{
    display: grid;
    grid-template-columns: 8fr 2fr; 
    grid-template-rows: auto;
    grid-auto-rows: auto;
}



#box-container > .box-item h3{
    color: var(--cor-texto);
}

.foto-projeto > img{
    object-fit: contain;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.box-item .texto-oculto, p{
    color: var(--cor-texto);
    font-size: 1rem;
    text-align: justify;
    line-height: 1.2rem;
}

.texto-oculto{
    display: none;
    color: var(--cor-texto);
    font-size: 0.9rem;
    text-align: justify;
    line-height: 1.2rem;
}

.box-item:hover .texto-oculto{
    display: block;
    margin-top: 10px;
}
